.DetailView {
    display: flex;
    /* background-color: rgb(210, 241, 68); */
}

.DetailView-container {
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 5rem;
    padding-left: 1rem;
}

.DetailView-container img {
    width: 35%;
    height: 50%;
    margin-top: 5rem;
}

.DetailView-body {
    /* background-color: blue; */
    width: 63%;
}

.DetailView-body input{
    margin: 0.5rem 1rem;
}

.DetailView-body span{
    font-weight: bold;
    font-size: 110%;
}

.button-container{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.description-body{
    padding: 0 3rem;
}

.warning{
    color: red;
}