/* div{
width: 100%
} */

.Card{
    /* margin: 2.2rem 1rem; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.Card p{
    font-weight: bold;
    font-size: 150%;
}

.Row{
    display: flex;
    justify-items: space-between;
    flex-wrap: wrap;
}

.Row p{
    font-size: large;
    font-weight: normal;
}

.Element{
    background-color: blanchedalmond;
    margin: 1.2rem 0.5rem;
    width: 18.4%;
    min-width: 12rem;
    height: 20rem;
}